.h1 {
    color: brown;
}

#btnStart {
    transition-duration: 0.8s;
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    margin-right: 30px;
    width: 100px;
    border-radius: 8px;

}

#btnStart:hover {
    background-color: #04AA6D;
    /* Green */
    color: white;
}


#btnStop {
    transition-duration: 0.8s;
    background-color: white;
    color: black;
    border: 2px solid #8d0c0c;
    border-radius: 8px;
    width: 100px;
}

#btnStop:hover {
    background-color: #be0909;
    /* Green */
    color: white;
}